*{
    margin: 10;
    padding: 10;
    box-sizing: border-box;

}

header{
    background-color: gray;
    padding: 15px;
}

aside {
    
    border-right: 3px solid gray;
    padding: 20px;
    width: 30%;
    height: 90vh;
}

main{
    display: flex;
}

section{
    width: 65%;
    padding: 20px;
}

h2{
    font-size: 3em;
}
.main-content{
    background-color: gray;
    
    margin: 100px;
    text-align: center;
    padding-bottom: 200px;
    padding-top: 100px;
    font-size: 70px;
    height: 200px;
}

footer{
    background-color: gray;
    padding: 40px;
}