*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div{
    border: solid;
    height: 80vh;
    width: 90%;
    border-radius: 10px;
    margin: 50px auto;
    border-color: green;
    padding-left: 25px;
    flex-direction: column;
    display: flex;
    padding-top: 40px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .1);
    background-color: whitesmoke;
}

h1{
    align-items: center;
    margin-bottom: 40px;
    color: green;
}

.input{
    height: 30px;
    width: 250px;
    border-radius: 5px;
    border: solid;
    border-color: gray;
    border-width: 1px;
    margin-bottom: 20px;
}
.button{
    width: 70px;
    height: 30px;
    cursor: pointer;
    border: none;
    background-color: green;
    border-radius: 7px;
    color: white;
    transition: .3s;
}

.button:active{
    opacity: .5;
}

label{
    font-size: 20px;
    color: green;
}